*P{
    padding: 0;
    margin: 0;
}




.morte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fome{
    display: flex;
    justify-content: center;
    align-items: center;
}